<div id="map"></div>
@section scripts {
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDQaPbUD5tqHdUdbfTHjt_DajBZS5OTgoA&callback=initMap"></script>
<script src="~/Scripts/Home.js"></script>
}